<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.renren.modules.sys.dao.SysDepartDao">
    <resultMap id="result" type="io.renren.modules.sys.entity.SysDepartEntity">
        <id column="departId" property=""></id>
        <result column="departName" property=""></result>
        <result column="status" property=""></result>
        <result column="description" property=""></result>
        <result column="distinguishing" property=""></result>
        <result column="createTime" property=""></result>
        <result column="updateTime" property=""></result>
    </resultMap>

    <!-- 查询用户的所有权限 -->
    <delete id="deletRoleByDepartId" parameterType="long">
        delete from sys_role  where depart_id = #{id}
    </delete>





</mapper>