<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.renren.modules.sys.dao.SysDepartDao">
    <resultMap id="result" type="io.renren.modules.sys.entity.SysDepartEntity">
        <id column="departId" property=""></id>
        <result column="departName" property=""></result>
        <result column="status" property=""></result>
        <result column="description" property=""></result>
        <result column="distinguishing" property=""></result>
        <result column="createTime" property=""></result>
        <result column="updateTime" property=""></result>
    </resultMap>

    <!-- 查询用户的所有权限 -->
    <delete id="deletRoleByDepartId" parameterType="long">
        delete
        from depart_role
        where depart_id = #{id} and role_id =#{roleId}

    </delete>

    <delete id="deletRole" parameterType="long">
        delete
        from depart_role
        where depart_id = #{id}

    </delete>

    <select id="queryIsExsit" resultType="Integer">
        select count(id)
        from depart_role
        where depart_id = #{departId}
          and role_id = #{roleId}
    </select>

    <insert id="saveDepartAndRole" parameterType="long">
        insert into depart_role(depart_id, role_id)
        values (#{departId}, #{roleId})
    </insert>
<!--    <insert id="updateDepartAndRole">-->
<!--insert into-->
<!--        update depart_role set role_id=#{roleId} where depart_id=#{departId}-->
<!--    </insert>-->

    <select id="isSameDepart" parameterType="String" resultType="long">
        select depart_id
        from depart
        where depart_name = #{name} and distinguishing=#{distinguishing}
    </select>

</mapper>